@use "../components/card-blog";
@use "../components/card-product";
@use "../libraries/splide";
@use "../style-core/core/mixins" as *;
@use "../style-core/core/functions" as *;

.site-body {
  overflow: hidden;
}
.hero {
  @include max(lg) {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-6);
  }
  @include min(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 2rem;
  }
  &__img-box {
    position: relative;
    .img {
      max-width: 600px;
      margin-inline: auto;
      position: relative;
      @include max(lg) {
        order: 1;
      }
    }
    img {
      position: relative;
      z-index: 1;
    }
    .shape {
      display: block;
      aspect-ratio: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      border: 72px solid rgba(#ff001f, 0.1);
      z-index: 0;
      border-radius: 50%;
      &.-small {
        // width: 600px;
        animation: heroShape-small 1s alternate infinite;
      }
      &.-large {
        // width: 900px;
        animation: heroShap-large 1s alternate infinite;
      }
    }
    .items {
      @include max(sm) {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-6);
      }
    }
    .item {
      background-color: var(--t4-surface-low);
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: var(--spacing-4);
      border-radius: var(--radius-2);
      padding: var(--spacing-2) var(--spacing-4);
      position: absolute;
      z-index: 1;
      box-shadow: var(--t4-box-shadow);
      --padding: 48px;
      @include max(sm) {
        position: static;
        transform: none !important;
      }
      span {
        @include fvs(600);
        font-size: 14px;
      }
      &.-ts {
        top: var(--padding);
        inset-inline-start: var(--padding);
      }
      &.-te {
        top: var(--padding);
        inset-inline-end: var(--padding);
      }
      &.-be {
        bottom: var(--padding);
        inset-inline-end: var(--padding);
      }
      &.-bs {
        bottom: var(--padding);
        inset-inline-start: var(--padding);
      }
    }
    @keyframes heroShape-small {
      0% {
        width: 400px;
      }
      100% {
        width: 600px;
      }
    }
    @keyframes heroShap-large {
      0% {
        width: 700px;
      }
      100% {
        width: 900px;
      }
    }
  }
  &__cnt-box {
    position: relative;
    z-index: 2;
    @include max(lg) {
      order: 2;
      text-align: center;
    }
    .btn-wrapper {
      display: flex;
      gap: var(--spacing-2);
      @include max(lg) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    :where(.support-btn, .plan-btn) {
      flex: 0 1 220px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--body-bg);
      box-shadow: var(--t4-box-shadow);
      padding: var(--spacing-2);
      border-radius: var(--radius-full);
      column-gap: var(--spacing-2);
      border: 2px solid transparent;
      transition-duration: 0.2s;
      transition-property: background-color, color, border-color;
      min-height: 3.75rem;
    }
    .support-btn {
      justify-content: flex-start;
      .title {
        font-size: 0.75rem;
        color: var(--t4-accent);
      }
      .desc {
        font-size: 0.875rem;
        @include fvs(700);
        unicode-bidi: plaintext;
      }
      .icon {
        background-color: var(--t4-accent);
        color: var(--t4-on-accent);
        border-radius: var(--radius-full);
        min-height: 40px;
        aspect-ratio: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
      }
      &:hover {
        border-color: var(--t4-accent);
      }
    }
    .plan-btn {
      border-color: var(--t4-accent);
      .text {
        @include fvs(800);
      }
      @include max(lg) {
        background-color: var(--t4-accent);
        color: var(--t4-on-accent);
      }
      &:hover {
        background-color: var(--t4-accent);
        color: var(--t4-on-accent);
      }
    }
  }
}

.features {
  background-color: color-transparent(var(--body-bg), 60%);
  backdrop-filter: blur(2px);
  box-shadow: 0px -23px 21px 0px #0000000d;
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8) var(--spacing-24);
  @include min(lg) {
    display: grid;
    grid-template-columns: 1fr minmax(430px, 1fr);
    align-items: center;
  }
  @include max(sm) {
    padding: 1rem;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-6);
    .item {
      display: flex;
      align-items: center;
      column-gap: var(--spacing-4);
      &__icon {
        padding: var(--spacing-3);
        border-radius: var(--radius-2);
        @include max(sm) {
          padding: var(--spacing-2);
        }
      }
      &__title {
        font-size: 1.25rem;
        @include fvs(800);
        @include max(sm) {
          font-size: 1rem;
        }
      }
    }
  }
}

.categories {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-6);
    padding-top: 3rem;
    text-align: center;
    &:hover {
      .img {
        &::before {
          inset: -1rem;
        }
      }
    }
    .img {
      width: 8rem;
      height: 8rem;
      background-color: var(--t4-accent);
      border-radius: var(--radius-full);
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--t4-accent);
        opacity: 0.3;
        border-radius: var(--radius-full);
        z-index: -1;
        transition: inset 0.2s;
      }
    }
    img {
      width: 150%;
      height: 150%;
      object-fit: contain;
      max-width: 150%;
    }
  }
  .splide {
    &:not(.is-overflow) .splide__list {
      justify-content: center;
    }
  }
}

.why-us {
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    @include min(lg) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .card {
    text-align: center;
    padding: var(--spacing-6);
    background: #ffffff;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
    @include hover {
      transition: translate 0.2s, scale 0.2s, box-shadow 0.2s;
      &:hover {
        translate: 0 -1rem;
        scale: 1.05;
        box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 10%);
      }
    }
    @include max(lg) {
      max-width: 480px;
      margin-inline: auto;
    }
    &__icon {
      background-image: url(/assets/img/why-us-icon-bg.avif);
      background-size: contain;
      background-position-y: center;
      background-position-x: calc(50% - 0.375rem);
      background-repeat: no-repeat;
      height: 10rem;
      aspect-ratio: 1;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 5rem;
      }
    }
    &__title {
      color: var(--t4-accent);
      @include fs(h, 4);
    }
    &__desc {
      @include fs(p, 5);
      margin-top: var(--spacing-2);
    }
  }
}

.pricing {
  .card-wrapper {
    display: grid;
    gap: var(--spacing-6);
    align-items: start;
    @include min(md) {
      grid-template-columns: repeat(4, 1fr);
      @include max(lg) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .card {
    --bg-color: #a62222;
    position: relative;
    &__data-wrapper {
      color: white;
      text-align: center;
      background-color: var(--bg-color);
      padding: var(--spacing-6);
      border-radius: var(--radius-4);
      position: relative;
      z-index: 1;
      transition-delay: 0.1s;
      transition-property: border-bottom-left-radius, border-bottom-right-radius;
      @include not-hover {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &__title {
      background-color: #fbf7b8;
      color: black;
      border-radius: var(--radius-full);
      font-size: 1rem;
      padding: 0.5rem;
      max-width: 80%;
      margin-inline: auto;
    }
    &__price {
      margin-top: 0.5rem;
      .amount {
        font-size: 2.5rem;
        @include fvs(700);
      }
      .unit {
        vertical-align: baseline;
      }
    }
    &__period {
      font-size: 14px;
      display: flex;
      align-items: center;
      column-gap: 1ch;
      &::before,
      &::after {
        content: "";
        border-top: 2px solid currentColor;
        flex-grow: 1;
        opacity: 0.3;
      }
    }
    &__details {
      text-align: start;
      margin-top: 1rem;
      font-size: 14px;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }
    &__link {
      background-color: white;
      color: black;
      display: inline-flex;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      @include fvs(700);
      padding: var(--spacing-2);
      justify-content: center;
      border-radius: var(--radius-2);
      transition-duration: 0.1s;
      transition-property: background-color, color;
      &:hover {
        background-color: var(--t4-accent);
        color: var(--t4-on-accent);
      }
      &-wrapper {
        background-color: var(--bg-color);
        border-radius: 0 0 var(--radius-4) var(--radius-4);
        transition-duration: 0.2s;
        transition-property: bottom;
        padding-inline: var(--spacing-6);
        padding-bottom: var(--spacing-6);
        @include hover {
          position: absolute;
          inset-inline: 0;
          bottom: 0;
          z-index: 0;
        }
      }
    }
    &.-bold {
      --bg-color: purple;
    }
    &:hover {
      --bg-color: #0a7f00;
      .card {
        &__data {
          &-wrapper {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &__link {
          &-wrapper {
            bottom: calc(-36px - 1.5rem);
          }
        }
      }
    }
  }
}

.testimonial {
  .splide {
    height: 100%;
    &__bg {
      position: relative;
      &::before {
        content: "";
        background-image: url(/assets/img/testimonial-bg.avif);
        background-repeat: repeat-x;
        background-size: contain;
        background-position-x: -200%;
        animation-name: testimonial;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: absolute;
        height: 80%;
        width: 100%;
        top: 50%;
        translate: 0 -50%;
        z-index: 1;
        opacity: 30%;
        @include max(sm) {
          background-size: cover;
        }
      }
      .shape {
        display: block;
        aspect-ratio: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        border: 36px solid rgba(#ff001f, 0.1);
        z-index: 1;
        border-radius: 50%;
        &.-small {
          width: 600px;
        }
        &.-large {
          width: 750px;
        }
        &.-center {
          width: 450px;
          border-color: #ff001f;
          border-width: 120px;
        }
      }
      @keyframes testimonial {
        0% {
          background-position-x: -597px;
        }
        100% {
          background-position-x: 0;
        }
      }
    }
    &__wrapper {
      background: url(/assets/img/iPhone-mockup.avif) no-repeat center / 100%;
      aspect-ratio: 811/1638;
      padding-inline: 12px;
      padding-block: 47px;
      width: 320px;
      margin-inline: auto;
      position: relative;
      z-index: 2;
    }
    &__track {
      height: 100%;
      background-color: #fff;
    }
    &__slide {
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
