@use "../components/card-product" as *;
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--t4-surface-low);
    transition: color 0.1s, background-color 0.1s;
    &:not(.-current) {
      &:hover {
        background-color: var(--t4-surface);
      }
    }
    &.-current {
      background-color: var(--t4-accent);
      color: var(--t4-on-accent);
    }
  }
}
.seo-box {
  background-color: var(--t4-surface-low);
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
  .read-more {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
      width: 2.5rem;
      height: 2.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 2.5rem;
      background-color: var(--t4-primary);
      color: var(--t4-on-primary);
      font-size: 1.25rem;
      transition: 0.1s;
      &:hover {
        background-color: var(--t4-accent);
        color: var(--t4-on-accent);
      }
    }
    &.-open {
      .read-more {
        &__btn {
          rotate: 0.5turn;
          translate: 0 1.125rem;
        }
      }
    }
    &:not(.-open) {
      min-height: 5rem;
      border-radius: 1rem;
      background-image: linear-gradient(
        180deg,
        transparent,
        var(--t4-surface-low)
      );
    }
  }
}
/*! purgecss start ignore */
.product-archive-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  .woocommerce-notices-wrapper {
    flex-basis: 100%;
    margin-bottom: 1.5rem;
  }
  .woocommerce-result-count {
    margin-bottom: 0;
  }
  .woocommerce-ordering {
    margin-bottom: 0;
  }
}
/*! purgecss end ignore */
