@use "../style-core/core/mixins" as *;
.t4-btn {
  display: inline-flex;
  column-gap: var(--spacing-2);
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: var(--radius-2);
  padding: var(--spacing-3) var(--spacing-6);
  white-space: nowrap;
  transition-duration: 0.2s;
  transition-property: background-color, color;
  font-size: 1rem;
  @include fvs(600);
  &.-wide {
    width: 100%;
  }
  &.-filled {
    &.-primary {
      background-color: var(--t4-primary);
      color: var(--t4-on-primary);
    }
    &.-accent {
      background-color: var(--t4-accent);
      color: var(--t4-on-accent);
    }
    &:not(:disabled) {
      &:hover {
        @include hover {
          background-color: var(--t4-accent-high);
          color: var(--t4-on-accent);
        }
      }
      &:active {
      }
      &:focus {
      }
    }
    &:disabled {
    }
  }
  &.-outlined {
    border: 2px solid var(--t4-primary);
    color: var(--t4-primary);
    &:not(:disabled) {
      @include hover {
        &:hover {
          background-color: var(--t4-primary);
          color: var(--t4-on-primary);
        }
      }
      &:active {
        background-color: var(--t4-accent);
        color: var(--t4-on-accent);
      }
      &:focus {
      }
    }
    &:disabled {
    }
  }
  &.-loading {
    position: relative;
    > * {
      visibility: hidden;
    }
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      font-size: 20px;
      animation: spinner 1s linear infinite;
      will-change: rotate;
    }
  }
  &.-icon-only {
    aspect-ratio: 1;
    min-height: 48px;
    padding: 0;
    .text {
      display: none;
    }
  }
  &.-rounded {
    border-radius: var(--radius-full);
  }
}
