@use "../style-core/core/mixins" as *;

.card-testimonial {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-4);
  background-color: var(--t4-surface-low);
  border-radius: var(--radius-4);
  padding: var(--spacing-4);
  .user {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    &__img {
      width: 3rem;
      height: 3rem;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    &__name {
      font-size: 0.75rem;
      @include fvs(500);
      @include line-clamb;
    }
    &__role {
      opacity: 0.7;
      font-size: 0.625rem;
    }
  }
  .stars {
    color: var(--t4-accent);
    text-align: center;
    span {
      display: inline-block;
      width: 1.2em;
      height: 1.2em;
      --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M243 96a20.33 20.33 0 0 0-17.74-14l-56.59-4.57l-21.84-52.81a20.36 20.36 0 0 0-37.66 0L87.35 77.44L30.76 82a20.45 20.45 0 0 0-11.66 35.88l43.18 37.24l-13.2 55.7A20.37 20.37 0 0 0 79.57 233L128 203.19L176.43 233a20.39 20.39 0 0 0 30.49-22.15l-13.2-55.7l43.18-37.24A20.43 20.43 0 0 0 243 96m-70.47 45.7a12 12 0 0 0-3.84 11.86L181.58 208l-47.29-29.08a12 12 0 0 0-12.58 0L74.42 208l12.89-54.4a12 12 0 0 0-3.84-11.86l-42.27-36.5l55.4-4.47a12 12 0 0 0 10.13-7.38L128 41.89l21.27 51.5a12 12 0 0 0 10.13 7.38l55.4 4.47Z'/%3E%3C/svg%3E");
      background-color: currentColor;
      mask-image: var(--svg);
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      &.-active {
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.2em' height='1.2em' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m234.29 114.85l-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07l-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76l22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08l59 4.76a16.46 16.46 0 0 1 9.37 28.86Z'/%3E%3C/svg%3E");
      }
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cnt-box {
  }
  &:hover {
  }
}
