@use "../style-core/core/mixins" as *;
.field.-type-1 {
  --b-radius: 8px;
  --b-color: #d1d1d1;
  --b-color-focus: purple;
  --b-color-hover: #aaa;
  --bg-color-disabled: #fafafa;
  --text-color: #777;
  fieldset {
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-radius: var(--b-radius);
  }
  &:has(.field__input:not(:focus)) {
    fieldset {
      border-color: var(--b-color);
    }
  }
  &:has(.field__input:focus, .field__input:-webkit-autofill) {
    fieldset {
      border-color: var(--b-color-focus);
    }
    legend {
      translate: 0;
      font-size: 14px;
    }
  }

  &:has(.field__input:not(:placeholder-shown)) {
    legend {
      translate: 0;
      font-size: 14px;
    }
  }
  &.-invalid {
    --b-color: red;
    --text-color: red;
  }
  &.-valid {
    --b-color: green;
    --text-color: green;
  }
  legend {
    padding-inline: 8px;
    margin-inline-start: 8px;
    translate: 0 27px;
    transition: translate 0.1s;
    z-index: 1;
    position: relative;
    font-size: 16px;
    line-height: 16px;
  }
  .field {
    &__label {
      cursor: text;
    }
    &__input {
      padding: 8px 16px;
      width: calc(100% + 4px);
      background-color: transparent;
      border-style: solid;
      border-width: 2px;
      margin-bottom: -11px;
      inset-inline: -2px;
      position: relative;
      top: -9px;
      border-radius: var(--b-radius);
      &:not(textarea) {
        min-height: 55.5px;
      }
      &:is(textarea) {
        resize: vertical;
        padding-top: 16px;
        margin-bottom: -17.5px;
        @-moz-document url-prefix() {
          margin-bottom: -11.5px;
        }
      }
      &:is([type="file"]) {
        min-height: unset;
        padding-block: 13.5px;
      }
      &:focus {
        outline: none;
        border-color: transparent;
      }
      &:disabled {
        background-color: var(--bg-color-disabled);
        z-index: -1;
      }
      &::placeholder {
        transition: opacity 0.1s;
      }
      &:not(:focus) {
        border-color: var(--b-color);
        &::placeholder {
          opacity: 0;
        }
      }
      &:not(:placeholder-shown) {
        border-color: transparent;
      }
    }
    &__text {
      color: var(--text-color);
      font-size: 14px;
      line-height: 20px;
      padding-inline: 16px;
      margin-top: 4px;
      display: block;
    }
  }
}
