@use "../style-core/core/mixins" as *;
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  &__item {
    width: 32px;
    aspect-ratio: 1;
    background-color: var(--t4-surface);
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    &.-current {
      background-color: var(--t4-primary);
      color: var(--t4-on-primary);
    }
    &.-next {
      &::before {
        @include fa-icon(\f060);
      }
    }
    &.-prev {
      &::before {
        @include fa-icon(\f061);
      }
    }
    &.-last {
      &::before {
        @include fa-icon(\e3d4);
      }
    }
    &.-first {
      &::before {
        @include fa-icon(\e3d5);
      }
    }
    &:not(.-current) {
      &:hover {
        background-color: var(--t4-surface-high);
      }
    }
  }
}
